@model VuePrototype.Models.GroupShellModel

<style>
    input, select {
        margin: 3px 3px 1px 3px;
        border-radius: 4px;
        font-size: 14px;
        box-shadow: 0 0 0 1px slategrey;
        border-left: solid 6px #f8f8ff;
        height: 1.6rem;
        box-sizing: border-box;
        padding-left: 5px;
        border: 0;
    }

        input[type=checkbox] {
            box-shadow: 0 0 0 0;
            border: 0;
        }

    .required {
        border-left: solid 6px #52a4ca;
    }

    .valid {
        border-left: 6px solid white;
    }

    .error {
        border-left: solid 6px #d60000;
    }

    .group {
        margin: .1rem .5rem;
        display: flex;
        flex-direction: column;
        max-width: 20rem;
    }

    .address-lines {
        display: flex;
        flex-flow: column wrap;
    }
</style>

<div id="app-7">
    <label-input id="GroupName" v-model="GroupName" :required.bool="true" :valid="isValidGroupName"></label-input>
    <label-select id="BluePartner" :options="BluePartnerOptions" v-model="BluePartner" :required.bool="true"></label-select>
    <v-address v-model="OrganizationContactAddress" :states="States" address-id-prefix="OrganizationContactAddress" v-on:input="copyOrganizationAddressToBenefitAddress"></v-address>
    <label-checkbox label="Benefit Address same as Organization Address" id="BenefitAddressSameAsOrganization" v-model="BenefitAddressSameAsOrganization" v-on:input="copyOrganizationAddressToBenefitAddress"></label-checkbox>
    <v-address v-model="BenefitContactAddress" :states="States" address-id-prefix="BenefitContactAddress" v-if="shouldShowBenefitContactAddress"></v-address>
    <subsidiary v-for="(subsidiary, index) in Subsidiaries" :index="index" :key="subsidiary.id" v-model="Subsidiaries[index]" v-on:remove="removeSubsidiary(index)" :states="States"></subsidiary>
    <button id="AddSubsidiaryButton" v-on:click="addSubsidiary">+</button>
</div>

<script>
    var groupShellModel = @Html.Raw(Model.JSONString());
</script>
@Scripts.Render("~/bundles/GroupShell")